<ion-view view-title="History">
  <ion-content class="padding">

  	<h4 style="text-align: center;">Overclocking PCs forces a computer component, such as a CPU or a GPU or RAM, to run at a higher clock rate than it’s been designed to handle.For example, if you have a 2.4 GHz CPU, you may be able to overclock it so it actually operates at 2.5 GHz or 2.6 GHz. This is typically done by tweaking the BIOS or altering jumpers on the physical motherboard.</h4>
  	<div style="text-align: center">
  	</div>

  </ion-content>
</ion-view>
