<ion-view view-title="List Tutorial">
  <ion-content>

  	<div class = "list">
   <div class = "item item-icon-left" ui-sref="tabs.special">
      <i class = "icon ion-happy"></i>
    Introduction
   </div>

    <div class = "item item-icon-left" ui-sref="tabs.hitory">
      <i class = "icon ion-document-text"></i>
    History
   </div>

   <div class = "item item-icon-left" ui-sref="tabs.why">
      <i class = "icon ion-help"></i>
    Why Overclocking ?
   </div>

    <div class = "item item-icon-left" ui-sref="tabs.install">
      <i class = "icon ion-laptop"></i>
    Installation
   </div>

    <div class = "item item-icon-left" ui-sref="tabs.user">
      <i class = "icon ion-person-stalker"></i>
    User Interface
   </div>


</div>

  </ion-content>
</ion-view>
