<ion-view view-title="Why Overclocking">
  <ion-content class="padding">

    <center>
      <img src="img/why.jpg" alt="" width="40%" height="40%">
    </center>

  	<h5 style="text-align: center;">
      <p>
      Overclocking can be time-consuming and expensive, especially if you have little experience tinkering with your PC. In addition to changing your multiplier, you may also need to mess with voltage settings, fan rotation speeds, and other important, fragile fundamentals. So when you really get down to it, do you need to overclock?
      Amped-up processors are often associated with gaming, but here’s a reality check. Speeding up your CPU may not to do much for your gaming experience. It will help particularly demanding programs run faster, but you probably won’t notice the effect on today’s computer games. If your machine is new enough to run the latest titles, its CPU/GPU are likely sufficient already. Overclocking your dedicated graphics card, on the other hand, can lead to smoother action and better graphics more reliably.</p>
    </h5>
  	<div style="text-align: center">
  		<!-- <img src="img/overclock.png" /> -->
  	</div>

  </ion-content>
</ion-view>
